<html>
<head>
    <title>Mark Fuller's Kitty Cam</title>
</head>
<body>
<center>
    <h1>Mark Fullers Kitty Cam</h1>
    <h3 id="connections">{{ value }} people currently watching</h3>
    <img src="{{ url_for('video_feed') }}" style="max-width: 100vw; width:1440px; height:1040  max-height: 100vh">
    <script type="js">
        const req = new XMLHttpRequest();
        req.addEventListener("load", reqListener);
        req.open("GET", "http://23.241.58.48/connections");
        console.log(req.send());


    </script>
<!--    <iframe display="none" width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk?&autoplay=1" title="YouTube video player"-->
<!--            frameborder="0"-->
<!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--            allowfullscreen></iframe>-->
</center>
</body>
</html>